[submodule "hospital-api"]
	path = hospital-api
	url = https://github.com/zxz-qwery/hospital-api.git

[submodule "hospital-admin"]
	path = hospital-admin
	url = https://github.com/zxz-qwery/hospital-appointment-system.git

[submodule "hospital-app"]
	path = hospital-app
	url = https://github.com/zxz-qwery/hospital-app.git
